/* -------------------- HEADER -------------------- */
#header{
    display: grid;
    height: 5vh;
}
/* -------------------- MAIN -------------------- */
#main{
    display: grid;
    grid-template-columns: 16% 84%;
}
/* -------------------- ASIDE -------------------- */
#aside{
    margin: 20px 20px 0 20px;
}
/* -------------------- SECTION -------------------- */
#section{
    margin: 30px;
}